body {
  background: #2e426c;
  /* overflow: hidden; */
}

#Container {
  -webkit-perspective: 500px;
  perspective: 1000px;
}

#Tiles {
  width: 630px;
  height: 630px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: -315px;

  -webkit-transform: rotateZ(0deg);
  transform: rotateX(75deg) rotateY(0deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tile {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 1px 1px 0;
  cursor: pointer;
}

.tile:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.tile:hover:before {
  background: #ffc600;
  -webkit-transform: translate3d(0, 0, 50px);
  transform: translate3d(0, 0, 5px);
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.5);
}
